td.floor {
    background-color: red;
    color: red;
}

td.stair {
    background-color: yellow;
    color: yellow;
}

td.background {
	background-color: black;
	color: black;
}

td.player {
	background-color: green;
	color: green;
}

td.enemy {
    background-color: blue;
	color: blue;
}
