* {
    font-family: Arial;
}

header h1, main {
    text-align: center;
    width: 100%;
}

p {
    line-height: 50%;
}

.canvas {
	height: 500px;
	overflow-y: auto;
}

table {
	margin: auto;
    background-color: black;
}

.points {
    font-weight: bold;
}

td.floor {
    background-color: red;
    color: red;
}

td.stair {
    background-color: yellow;
    color: yellow;
}

td.background {
	background-color: black;
	color: black;
}

td.player {
	background-color: green;
	color: green;
}

td.enemy {
    background-color: blue;
	color: blue;
}
